<form action="/users/create-session" method="POST">

	<h1>Sign In</h1>

	<input class="input100" type="text" name="email" placeholder="email">
	<input class="input100" type="password" name="password" placeholder="password">
	
	<button class="login100-form-btn" type="submit">
		Sign In
	</button>
</form>