<div class="note">
    <h1>Register User / Sign Up</h1>
</div>
<form action="/users/create-user" method="POST">
    <input required type="text" class="form-control" placeholder="Your Name *" value="" name='name'/>
    <input required type="text" class="form-control" placeholder="Your Email *" value="" name='email'/>
    <input required type="password" class="form-control" placeholder="Your Password *" value="" name='password'/>
    <input type="password" class="form-control" name='confirm_password' placeholder="Confirm Password *" value=""/>
    <button type="submit">Submit</button>
</form>